{% extends 'base.html' %}

{% block container %}

<body>

  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>
    {% if "добавлено" in message %} <div class="alert alert-success" role="alert"> {{ message }}</div>
    {% elif "удалено" in message or "нет" in message %} <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}

    <div class="row mt-5">
      <div class="col-4">
        <h4 class="">Ваши данные</h4>
            <form action="/make_order" method="post">
            {{ form.name.label(class_="md-4 order-md-1") }}
            {{ form.name(class_="font-weight-bold form-control") }}

            {{ form.address.label(class_="mb-1 mt-2") }}
            {{ form.address(class_="form-control") }}

            {{ form.mail.label(class_="mb-1 mt-2") }}
            {{ form.mail(class_="form-control") }}

            {{ form.phone.label(class_="mb-1 mt-2") }}
            {{ form.phone(class_="form-control") }}

            {{ form.submit(class_="mt-3 mb-5 btn btn-danger") }}

      </div>
      <div class="col-1"></div>

      <div class="col-7">
        <h4 class="mb-3 col-7 mb-5">{{ dishes_num }} {{ dishes_word }} в корзине</h4>

        <table class="table">
          <tbody>
            {% for item in dish_list %}
            <tr>
              <th scope="row">{{ item[0].title }}</th>
              <td></td>
              <td>{{ item[1] }}</td>
              <td>{{ item[0].price * item[1] }}</td>
              <td><a class="text-danger" href="/cart_del/{{ item[0].id }}">Удалить</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <hr>
        <p class="display-4 my-2 ">{{summa}} руб</p>
      </div>
    </div>
  </main>
{% endblock %}