{% extends 'base.html' %}

{% block container %}

<body>

{% include "promo.html" %}


    {% for cat in categories %}
    <section>
      <h3 class="my-4">{{ cat.title }}</h3>
      <div class="row mt-4">

        {% for dish in cat.dishes %}
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <img src=static/pictures/{{ dish.picture }} width="300" height="200" class="card-img-top" alt="">
            <div class="card-body">
              <h4 class="h5 card-title">{{ dish.title }}</h4>
              <p class="card-text">{{ dish.description }}</p>
                   <form action="/cart" method="POST">
                       <input type="submit" value="В корзину" class="btn btn-danger ">
                       <input class="form-control" type="hidden" name="dish_id" value="{{dish.id}}">
                   </form>
            </div>
          </div>
        </div>
        {% endfor %}

    </section>
    {% endfor %}



  </main>

{% endblock %}